@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 10px; /*1rem = 10px*/
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #fe9c91, #ff5945);
    padding: 1rem;
}

.todo-app {
    width: 100%;
    max-width: 54rem;
    background: #ffff;
    margin: 10rem auto 2rem;
    padding: 4rem 3rem 7rem;
    border-radius: 1rem;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.todo-app h2 img {
    width: 3rem;
    margin-left: 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 3rem;
    padding-left: 2rem;
    margin-bottom: 2.5rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-weight: 1.4rem;
}

button {
    border: none;
    outline: none;
    padding: 1.6rem 5rem;
    background: #ff5945;
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    width: 35%;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 1.2rem 8rem 1.2rem 5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
}

ul li::before {
    content: '';
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: .9rem;
    left: .8rem;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: .5rem;
    width: 4rem;
    height: 4rem;
    font-size: 22px;
    color: #555;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}